
@media screen and (min-width: 375px) {
    .fotolarekPage {
        margin: 0px 16px 10px 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .fotolarekImgPres {
        transform: scale(1);
    }

    .fotolarekWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fotolarekHeaderSVG {
        /* display: flex; */
        font-size: 24px;
        /* gap: 10px; */
    }

    .fotolarekDescriptionPage {
        width: 300px;
        margin-bottom: 10px;
    }

    #fotolarekPageIMG {
        display: block;
    }

    .fotolarekIMGcontainer {
        margin: 0 16px 10px 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    #notebook {
        display: none;
    }

    #brochure {
        background-color: #000;
    }

    #envelope {
        display: none;
    }

    #hands {
        height: 140px;
    }

    .laptop_fotolarek {
        width: 337px;
        height: 190px;
        margin: 50px auto 60px auto;
        position: relative;

        & #laptop {
            width: 337px;
            height: 190px;
        }

        & #shadow {
            width: 337px;
            height: 190px;
        }

        & img {
            position: absolute;
        }

        & #screen {
            width: 258px;
            height: 166px;
            top: 5px;
            left: 39px;
        }
    }

    #fotolarekEdit {
        display: none;
    }
}

@media screen and (min-width: 1366px) {
    .fotolarekPage {
        margin: 80px 40px 0 40px;
    }

    .fotolarekWrapper {
        & .projectYear {
            font-size: 24px;
        }
    }

    .fotolarekHeaderSVG {
        /* display: flex; */
        font-size: 44px;
        /* gap: 10px; */
    }

    .fotolarekDescriptionPage {
        font-size: 24px;
        margin-bottom: 20px;
        width: 500px;
    }

    .fotolarekIMGcontainer {
        margin: 20px 0 100px 40px;
        flex-direction: row;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }

    .fotolarekBox {
        width: 600px;
        height: 400px;
    }

    #brochure {
        width: 1360px;
    }

    #notebook {
        display: inline-block;
        height: 390px;
        width: 300px;
    }

    #hands {
        height: 400px;
        width: 989px;
    }

    #envelope {
        display: inline-block;
        width: 600px;
        height: 450px;
    }

    .laptop_fotolarek {
        width: 1120px;
        height: 629px;
        margin: 0 auto 100px auto;
        position: relative;

        & #laptop {
            width: 1120px;
            height: 629px;
        }

        & #shadow {
            width: 1120px;
            height: 629px;
        }
    
        & img {
            position: absolute;
        }
    
        & #screen {
            width: 856px;
            height: 550px;
            top: 10px;
            left: 130px;
        }
    }
    
    #fotolarekEdit {
        display: inline;
    }
}

@media screen and (min-width: 1440px) {
    #notebook {
        width: 325px;
        height: 429px;
    }

    #hands {
        height: 409px;
        width: 1011px;
    }

    #envelope {
        display: inline;
        position: absolute;
        top: 1900px;
        left: 690px;
        width: 747px;
        height: 561px;
    }

    .fotolarekBox {
        width: 670px;
        height: 445px;
    }
}


