* {
    box-sizing: border-box;
}

@media screen and (min-width: 375px) {
    #mobile_nav {
        margin-left: 185px;
    }

    .infoHeader {
        display: none;
    }

    .infoIMGcontainer {
        position: relative;
        width: 344px;
        display: flex;
        gap: 10px;
        margin: 0 17px 31px 16px;
        & img {
            width: 167px;
            height: 140px;

            &:nth-child(n + 3) {
                display: none;
            }

        }
    }

    .infoSubHeader {
        margin: 0 18px 20px 16px;
        display: inline-block;
        font-size: 36px;
        font-weight: 700;
    }

    #desktopPhrase {
        display: none;
    }

    .skillsContainer {
        display: flex;
        flex-direction: column;
    }

    .skillsFirstRow {
        margin: 0 18px 20px 16px;
        display: flex;
        gap: 50px;
        & div {
            width: 300px;
            display: flex;
            flex-direction: column;
            font-size: 24px;
            line-height: 28px;
        }
    }

    .skillsSecondRow {
        margin: 0 18px 40px 16px;
        display: flex;
        gap: 80px;

        & div {
            display: flex;
            flex-direction: column;
            font-size: 24px;
            line-height: 28px;
        }
    }

    .workAndEducation {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0 18px 30px 16px;
    }

    .work {
        display: flex;
        flex-direction: column;
    }

    .workSubHeader {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .lad {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 20px;
    }

    .ladWrapper {
        display: flex;
    }

    .freelance {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .workExpSubHeader {
        font-size: 24px;
        line-height: 20px;
        display: inline-block;
        width: 220px;
        margin-right: 47px;
    }

    .education {
        display: flex;
        flex-direction: column;
    }

    .educationSubHeader {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .bachelor {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 20px;
    }

    .bachelorWrapper {
        display: flex;
    }

    .educationExpSubHeader {
        font-size: 24px;
        display: inline-block;
        margin-right: 70px;
    }

    .additionalEducation {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .addExpSubHeader {
        font-size: 24px;
        display: inline-block;
        margin-right: 55px;
    }

    .infoContacts {
        display: none;
    }

}

@media screen and (min-width: 1366px) {
    .infoHeader {
        display: inline-block;
        margin: 132px 0 20px 40px;
        font-size: 74px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .infoIMGcontainer {
        width: 1337px;
        margin: 0 40px 100px 40px;
        gap: 20px;

        & img {
            transform: scale(1);
            width: 279px;
            height: 372px;
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2) {
                width: 440px;
                height: 372px;
            }

            &:nth-child(n + 2) {
                display: block;
            }
        }
    }

    .infoSubHeader {
        margin: 0 40px 50px 40px;
        font-size: 74px;
    }

    #desktopPhrase {
        display: inline-block;
    }

    .skillsContainer {
        flex-direction: row;
        gap: 162px;
        margin: 0 0 100px 40px;
    }

    .mobileSkills {
        display: none;
    }
    
    .skillsFirstRow {
        flex-direction: column;
        margin: 0;
        & div {
            width: 470px;
            gap: 20px;
            font-size: 44px;
            line-height: normal;
        }
        
    }
    
    .skillsSecondRow {
        flex-direction: column;
        gap: 20px;

        & div {
            gap: 20px;
            font-size: 44px;
            line-height: normal;
        }
    }

    .workAndEducation {
        flex-direction: row;
        gap: 50px;
        margin: 0 40px 100px 40px;
    }
    
    .workSubHeader {
        font-size: 74px;
        margin-bottom: 60px;
    }

    .lad {
        gap: 10px;
        margin-bottom: 60px;
    }
    
    .ladWrapper {
        & .length {
            font-size: 24px;
        }
    }
    
    .workExpSubHeader {
        font-size: 44px;
        line-height: normal;
        width: 440px;
        margin-right: 103px;
    }
    
    .ladDescription {
        font-size: 24px;
    }
    
    .freelance {
        gap: 10px;
    }
    
    .freelanceWrapper {
        display: flex;
    
        & .length {
            font-size: 24px;
        }
    }
    
    .freelanceDescription {
        font-size: 24px;
    }

    .education {
        display: flex;
        flex-direction: column;
    }
    
    .educationSubHeader {
        font-size: 74px;
        margin-bottom: 60px;
    }
    
    .bachelor {
        gap: 10px;
        margin-bottom: 60px;
    }
    
    .bachelorWrapper {
        & .length {
            font-size: 24px;
        }
    }
    
    .hseDescription {
        font-size: 24px;
    }
    
    .educationExpSubHeader {
        font-size: 44px;
        margin-right: 188px;
    }
    
    .additionalEducation {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .addEduWrapper {
        display: flex;
    
        & .length {
            font-size: 24px;
        }
    }
    
    .addExpSubHeader {
        font-size: 44px;
        margin-right: 166px;
    }
    
    .addEduDescription {
        font-size: 24px;
    }

    .mobileBr {
        display: none;
    }

    .infoContacts {
        display: flex;
        margin: 0 40px 50px 40px;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .TG {
        font-size: 74px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
        &:visited {
            color: #000;
            text-decoration: none;
        }
        &:hover {
            color: #900000;
        }
    }
    
    .mail {
        font-size: 74px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
        &:visited {
            color: #000;
            text-decoration: none;
        }
        &:hover {
            color: #900000;
        }
    }
    
    .date {
        font-size: 24px;
    }
    
}

