<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mainPage.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="navScrollLine"></div>
    <div class="wrapper">
        <nav>
            <div class="nav-wrapper">
                <span>KARINA</span>
                <div class="nav-links-wrapper">
                    <a href="{{ url_for('info') }}">INFO</a>
                    <a href="">CV&darr;</a>
                    <a class='active' href="{{ url_for('hello_world') }}">PROJECTS</a>
                </div>
            </div>
        </nav>
    {% block content %}{% endblock %}
    </div>

</body>
</html>